# Basic Concepts

## Compiled or Interpreted?

Programming languages can be categorized into two main types based on how the source code is processed:

* **Compiled programming languages** are those in which the source code must be compiled into machine instructions before it can be executed, for example C, C++, and Java.

* **Interpreted programming languages** are those in which the source code is read and executed line by line directly by an interpreter, without being compiled into machine code first, for example Ruby, and JavaScript.

The Python language is both compiled and interpreted language. While running the code, the compilation process will generate an intermediate code known as bytecode, that is different from actual machine code. Then the bytecode will be interpreted in the python virtual machine(PVM) to generate the actual output.  Many programmer believe that it is an interpreted language due to the compilation process is mostly hidden from the user.

## Indentation

In many programming languages the indentation is for readability only, while in Python it is used to indicate a block of code. The number of spaces must be at least one, however the standard is to use four spaces.

The program will show an error when:
* The indentation is skipped.
* The number of spaces is different in the same block.
* The tabs and spaces are mixed up.

Example of code with wrong indentation:

In [1]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (3793329317.py, line 2)

In [3]:
if 5 > 2:
  print("Five is greater than one!")
    print("Five is greater than two!")

IndentationError: unexpected indent (3814111980.py, line 3)

## Comments

Comments starts with a #, and Python will ignore the text after it. Also, they can be placed at the end of a statement.

In [4]:
# This is a comment
print("Hello World!")
print("Hello World!") # This is a comment

Hello World!
Hello World!

A multiline comment can be done: 
* Add # for each line:
* Add a multiline string (triple quotes) and place the comment inside it.

In [5]:
# This is a simple
# Hello Word Example
print("Hello World!")

Hello World!

In [6]:
"""
This is a simple
Hello Word Example
"""
print("Hello World!")

Hello World!

## Keywords

Python keywords are special reserved words that have specific meanings and purposes. They cannot be used as a variable name, function name or any other identifier.

|  |  |  |  |  |
| -- | -- | -- | -- | -- |
| False | await | else | import | pass |
| None | break | except | in | raise |
| True | class | finally | is | return |
| and | continue | for | lambda | try |
| as | def | from | nonlocal | while |
| assert | del | global | not | with |
| async | elif | if | or | yield |

## Variables

A Python variable is a symbolic name that is a reference to an object.
* Variables are not declared or defined in advance.
* It is created when a value is assigned to it.

In [3]:
done = True
name = "Luis"

print(done, name)

True Luis

### Naming

Rules for Python variables:
* It must start with a letter or the underscore character.
* It must contain only alpha-numeric characters and underscores (A-Z, a-z, 0-9, _).
* They are case-sensitive.
* It cannot have the same name as a reserved keyword.

Examples:

In [39]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [16]:
my-var = "Maria"

SyntaxError: cannot assign to operator (1315807947.py, line 1)

In [40]:
1myvar = "Fabian"

SyntaxError: invalid syntax (3650524433.py, line 1)

In [17]:
for = 3

SyntaxError: invalid syntax (191355952.py, line 1)

### Built-in Data Types

Python has the following categories and data types built-in by default:

* Boolean Type: bool
* Text Type: str
* Numeric Types: int, float, complex
* Sequence Types: list, tuple, range
* Mapping Type: dict
* Set Types: set, frozenset
* Binary Types: bytes, bytearray, memoryview
* None Type: NoneType

Notes:
- The built-in Python **type()** function can be used to check the variable's type.
- Even though a variable was created with certain type, it can be re-assigned with another value that has a different type.

In [1]:
y = "Jose"
print(y, type(y))

y = 56
print(y, type(y))

y = 0.98 + y
print(y, type(y))

y = 3 + 4j
print(y, type(y))

y = True
print(y, type(y))

y = None
print(y, type(y))

Jose <class 'str'>
56 <class 'int'>
56.98 <class 'float'>
(3+4j) <class 'complex'>
True <class 'bool'>
None <class 'NoneType'>

### Multiple Assignment

It is valid to assing:
* Different values to multiple variables in one line.
* Same value to multiple variables in one line.

In [23]:
x, y, z = "blue", 0.2, 569
print(x, y, z)

blue 0.2 569

In [21]:
x = y = z = "white"
print(x, y, z)

white white white

### Object Identity

Every object has a number that uniquely identifies it. Therefore, two objects cannot have the same identifier during any period in which their scope overlaps.

The built-in Python **id()** function returns an object’s integer identifier.

In [6]:
n = 300
m = n
print("n", n, id(n))
print("m", m, id(m))

print("Updating n")
n = n + 1
print("n", n, id(n))
print("m", m, id(m))

n 300 140514579345968
m 300 140514579345968
Updating n
n 301 140514579345776
m 300 140514579345968

____
## Equivalent Perl & TCL Code ##

#### Identation ####

&emsp;Python:
``` python
# Fails
if 5 > 2:
print("Five is greater than two!")
#Fails
if 5 > 2:
  print("Five is greater than one!")
    print("Five is greater than two!")
```

&emsp;Perl:
``` perl
# Works
if (5 > 2) {
print("Five is greater than two!\n");
}
# Works
if (5 > 2){
  print("Five is greater than one!\n");
    print("Five is greater than two!\n");
}
```

&emsp;TCL:
``` tcl
# Works
if {5 > 2} {
puts "Five is greater than two!\n"
}
# Works
if {5 > 2} {
  puts "Five is greater than one!\n"
    puts "Five is greater than two!\n"
}
```

#### Comments ####

&emsp;Python:
``` python
# This is a comment
print("Hello World!")
print("Hello World!") # This is a comment

"""
This is a simple
Hello Word Example
"""
print("Hello World!")
```

&emsp;Perl:
``` perl
# This is a comment
print("Hello World!\n");
print("Hello World!\n"); # This is a comment

=pod
This is a simple
Hello Word Example
=cut
print("Hello World!\n");
``` 

&emsp;TCL:
``` tcl
# This is a comment
puts "Hello World!\n"
puts "Hello World!\n" ; # This is a valid comment
puts "Hello World!\n" # This is an invalid comment


# This is a simple
# Hello Word Example
puts "Hello World!\n"
``` 

#### Variables ####

&emsp;Python:
``` python
done = True
name = "Luis"

print(done, name)
```

&emsp;Perl:
``` perl
$done = True;
$name = " Luis";

print($done, $name);
```

- For more info on Pearl data types: https://perldoc.perl.org/perldata

&emsp;TCL:
``` tcl
# TCL has no boolean, everything is a string; in expressiones, 0 means false and everything else is true.
set done 1 
set name "Luis"

puts "$done $name"
```

#### Naming ####

&emsp;Python:
``` python
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)
```

&emsp;Perl:
```perl
$age = 1;
$Age = 2;
$aGe = 3;
$AGE = 4;
$a_g_e = 5;
$_age = 6;
$age_ = 7;
$_AGE_ = 8;

print($age, $Age, $aGe, $AGE, $a_g_e, $_age, $age_, $_AGE_);
```

&emsp;TCL:
```tcl
set age 1
set Age 2
set aGe 3
set AGE 4
set a_g_e 5
set _age 6
set age_ 7
set _AGE_ 8

puts "$age $Age $aGe $AGE $a_g_e $_age $age_ $_AGE_"
```

#### Multiple Assignment ####

&emsp;Python:
```python
x, y, z = "blue", 0.2, 569
print(x, y, z)

x = y = z = "white"
print(x, y, z)
```

&emsp;Perl:
```perl
($x, $y, $z) = ("blue", 0.2, 569);
print($x, $y, $z);

$x = $y = $z = "white";
print($x, $y, $z);
```

&emsp;TCL:
```tcl
lassign [list blue "0.2" 569] x y z
puts "$x $y $z"

multiset "$x $y $z" white
puts "$x $y $z"
```